{% extends 'gui/layouts/_base2.html' %}

{% load static %}


{% block style %}

<link rel="stylesheet" href="{% static 'gui/style/itineraire.css' %}">

{% endblock style %}


{% block content %}

<div class="text-center m-3">
    <h1>Itinéraire</h1>
</div>


<div>
    <!-- How to change your own map point
        1. Go to Google Maps
        2. Click on your location point
        3. Click "Share" and choose "Embed map" tab
        4. Copy only URL and paste it within the src="" field below
    -->
  <iframe id="map" src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d3989.6706905284927!2d29.47188131442415!3d0.4928893638673444!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2scd!4v1634465686476!5m2!1sfr!2scd" width="100%" height="600" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
</div>



{% comment %} <script>
    var directionsDisplay,
        directionsService,
        map;

    function initMap() {
    var directionsService = new google.maps.DirectionsService();
    directionsDisplay = new google.maps.DirectionsRenderer();
    var chicago = new google.maps.LatLng(41.850033, -87.6500523);
    var mapOptions = { zoom:7, mapTypeId: google.maps.MapTypeId.ROADMAP, center: chicago }
    map = new google.maps.Map(document.getElementById("googleMap"), mapOptions);
    directionsDisplay.setMap(map);
    }

</script> {% endcomment %}

<script src="{% static 'gui/js/itineraire.js' %}"></script>

{% endblock content %}